.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  background-color: #ecf1ff !important;
}

.topN{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff !important;
}
.sidenav {
  height: 1000px; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */ /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fff;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 0 2px 10px 0 rgb(170 170 170);
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
 letter-spacing: 5px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.sidenav ul {
  list-style-type: none;
  padding-left: 0rem !important;
}
.sidenav li {
  padding-bottom: 20px;
  color:#828282;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.closeNavH{
  padding-bottom: 40px;
  padding-right: 20px;
}

.gold-circle {
  display: inline-flex;
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-color: gold;
  border-radius: 50%; /* Makes the element circular */
  margin-right: 10px;
}
.menuC{
  background-color: #fff !important;
}
.menuCa{
  padding-right: 100px;
}


/* center */
.centerC{
  margin: 20px 10px;
  background-color: #fff;
  padding:30px 40px;
  border-radius: 20px;
  box-shadow: 0px 1px 17px 0 rgb(227 232 246);
}

.centerB{
  margin: 90px 100px 50px 100px;
  background-color: #fff;
  padding:30px 40px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 rgb(170 170 170);
}

/* Center div height*/
.lenght{
  margin: 50px 100px;
  background-color: #fff;
  padding:30px 40px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 rgb(170 170 170);
  height: 800px;
}

/* Image Styling */
.bcI{
  width: 20px;
  float: left;
  padding-bottom: 20px;
}

/* Image Styling */
.bcA{
  width: 20px;
  float: left;
  padding-bottom: 20px;
  margin-left: 80px;
}

.centerH{
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0;
}

.centerHp{
  font-size: 12px;
}

.textHp{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

.textH{
  font-size: 8px;
}

.container-textAs {
  height: 200px; /* Example height of the parent container */
  position: relative; /* Ensure percentage height is relative to the parent */
}

.textAs{
  background-color: #F9F9F9;
    border: none;
    width: 100%;
    font-size: 12px;
    height: 100%;
}

.textBs{
  background-color: #F9F9F9;
    border: none;
    width: 100%;
    font-size: 12px;
    height: 605PX !important;
}

.tittle{
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0;
}

/* graph subttitle*/
.titledcf{
  position: absolute;
  font-size: 14px;
  margin: 0px;
  left: 187px;
  margin-top: 15px;
  font-weight: bold;
}

/* Image */
.bro{
  padding-bottom: 20px; 
  padding-top: 20px; 
  width: 30%;
}

/* dcf Image */
.dcfbro{
  padding-bottom: 20px; 
  padding-top: 20px; 
  width: 350px;
  height: 350px;
}

/* dcf graph*/
.graph{
  padding-bottom: 20px;  
  width: 350px;
  height: 350px;
  border-radius: 5px;
  width: 700px;
}

.question{
  font-size: 13px;
}

.suggest{
  font-size: 12px;
  padding-top: 20px;
}

/* Next Button*/
.curveNext{
  float: right;
    background-color: #facc04 !important;
    border: 0px !important;
    color: #000 !important;
    font-weight: 500 !important;
    padding: 5px 30px !important;
    border-radius: 20px !important;
    font-size: 17px!important;
    margin-right: 10px!important;
    margin-bottom: 60px;
}

/* Bedin and continue buttons */
.curvedcf{
    background-color: #E8C400 !important;
    border: 0px !important;
    color: #000 !important;
    font-weight: bold !important;
    padding: 5px 30px !important;
    border-radius: 20px !important;
    font-size: 17px!important;
    left: 19em;
}

/* Div space */
.space{
  padding-bottom: 20px; 
  padding-top: 20px; 
  width: 10%;
  height: 120px;
}

/*Iframe space top*/
.spaceA{
  padding-bottom: 20px; 
  padding-top: 20px; 
  width: 10%;
  height: 70px;
}

/*Iframe space bottom*/
.spaceB{
  padding-bottom: 20px; 
  padding-top: 20px; 
  width: 10%;
  height: 10px;
}

/* Div space dcf */
.dcfspace{
  padding-bottom: 20px; 
  padding-top: 20px; 
  width: 10%;
  height: 50px;
}

/* top and bottom div space dcf */
.dcfspacebottom{
  padding-bottom: 20px; 
  padding-top: 20px; 
  width: 10%;
  height: 20px;
}

.break{
  padding-bottom: 20px; 
  padding-top: 20px; 
  width: 10%;
  height: 50px;
}

/* Bottom button */
.edit{
  float: right;
    background-color: white !important;
    border: 0px !important;
    color: #E8C400 !important;
    font-weight: 500 !important;
    padding: 5px 15px !important;
    font-size: 12px!important;
    margin-right: 0px!important;
    margin-top: 10px;
}

/* Bottom button */
.save{
  float: right;
    background-color: white !important;
    border: 0px !important;
    color:  #E8C400 !important;
    font-weight: 500 !important;
    padding: 5px 0px !important;
    font-size: 12px!important;
    margin-right: 0px!important;
    margin-top: 10px;
}

/* Top button */
.buttonS{
  float: right;
    background-color: white!important;
    border: 0px !important;
    color: black !important;
    font-weight: 500 !important;
    padding: 5px 15px !important;
    font-size: 12px!important;
    margin-right: 10px!important;
    margin-top: 10px;
    border-style: solid !important;
    border-width: medium !important;
    border-color:#E8C400 !important;
}

/* Top button */
.buttonE{
  float: right;
   background-color: white!important;
    border: 0px !important;
    color:  black !important;
    font-weight: 500 !important;
    padding: 5px 15px !important;
    font-size: 12px!important;
    margin-right: 0px!important;
    margin-top: 10px;
    border-style: solid !important;
    border-width: medium !important;
    border-color:#E8C400 !important;
}

/* Top button hover */
.buttonE:hover{
  background-color: #f0e296 !important;
}

/*center Div */
.align{
  position: absolute;
  margin-top: 80px;
  padding: 0px;
  top:0px;
  left: 200px;
}

.alignA{
  position: absolute;
  margin-top: 100px;
  padding: 0px;
  top:0px;
  left: 200px;
}

iframe{
  height: 300px;
  width: 100%;
  border-radius: 10px !important;
}

/*text center for ROI Financials*/
.div-box{
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

/* For top title*/
.div-boxA{
  position: absolute;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  Left: 30em;
  margin-bottom: 90px;
}


/* quote box */
.container-box{
  font-size: 20px;
  border-radius: 10px !important;
  text-wrap:wrap;
  background-color: #999252 !important;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  margin-left: 50px;
  margin-right: 50px;
  color:#fff;
}

/* quote text */
.quote{
    padding-top: 10px;
    margin: 0px;
}

/* quote author */
.author{
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

/*PagePositioning*/
.textBrand{
  font-weight: bold;
}

.container-textAt {
  height: 50px; /* Example height of the parent container */
  position: relative; /* Ensure percentage height is relative to the parent */
}

.buttonF{
  position: relative;
  background-color: white!important;
  border: 0px !important;
  color:  #E8C400 !important;
  font-weight: 500 !important;
  padding: 5px 15px !important;
  font-size: 12px!important;
  margin-right: 0px!important;
  margin-top: 10px;
  border-color:#E8C400 !important;
  left: 100px;
  bottom: 70px;
}

.buttonG{
 position: relative;
 background-color: white!important;
 border: 0px !important;
 color:  #E8C400 !important;
 font-weight: 500 !important;
 padding: 5px 15px !important;
 font-size: 12px!important;
 margin-right: 0px!important;
 margin-top: 10px;
 left: 100px;
 bottom: 50px;
}


.buttonH{
position: relative;
background-color: white!important;
 border: 0px !important;
 color:  #E8C400 !important;
 font-weight: 500 !important;
 padding: 5px 15px !important;
 font-size: 12px!important;
 margin-right: 0px!important;
 margin-top: 10px;
 left: 100px;
 bottom: 50px;
}

.createBrand{
  width: 100px;
  height: 40px;
  background-color: #e8eaf5;
  text-align: center;
}

.createBrandA{
  padding-top: 10px;
}

.textAA{
  height: 70px; /* Example height of the parent container */
  position: relative; /* Ensure percentage height is relative to the parent */
}

.brandlogoA{
  width: 100px;
  height: 100px;
  background-color: #e8eaf5;
  text-align: center;
}

.brandlogo{
  width: 50px;
  padding-top: 20px;
  margin-left: 0px;
}


/* new menu */
/* .newMHold{
  
} */

.newMHold1{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0px 1px 17px 0 rgb(227 232 246);
}

.newMUl{
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
  list-style: none;
  cursor: pointer;
  padding-left: 0rem;
}


.subMenu{
  list-style: none;
  overflow: hidden; 
  font-size: 12px;
  max-height: 0; /* Initially hide the submenu */
  transition: max-height 0.5s ease-out;
  
}

.dropdown-trigger:hover .subMenu2 {
  max-height: 500px; /* Set max-height to show submenu */
}


.subMenu2{
  list-style: none;
  overflow: hidden; 
  /* padding-left: 50px; */
  max-height: 0; /* Initially hide the submenu */
  transition: max-height 0.5s ease-out;
}
.subMenuOpen {
  font-size: 14px;
  /* padding-left: 50px; */
  list-style: none;
  transition: max-height 0.5s ease-in; 
  max-height: 500px; /* Set max-height to show submenu */
  background-color: #7a9cff;
  margin-bottom:20px ;
}

.dropdown-trigger2{
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 15px;
  padding-bottom: 5px;
}

.dropdown-trigger2-open{
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 15px;
  padding-bottom: 5px;
  background-color: #7a9cff;
  color: #fff !important;
  border-radius: 20px;
}

.dropdown-trigger2-open:hover{
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 15px;
  padding-bottom: 5px;
  background-color: #7a9cff;
  color: #fff!important;
  border-radius: 20px;
}
.dropdown-trigger2:hover{
  background-color: #ececec;
  border-radius: 20px
}

.dropdown-trigger2.active{
  background-color: #ececec;
  border-radius: 20px
}
.innr{
  width: 80%;
  font-size: 13px;
  padding: 2px 10px;
  margin-bottom: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.innr:hover{
  background-color: #88a5fb;
  transition: 0.2s ease-in; 
  color: #fff;
  border-radius: 20px;
} 
.innr.active{
  background-color: #88a5fb;
  transition: 0.2s ease-in; 
  color: #fff;
  border-radius: 20px;
} 
.iconS{
  font-size: 24px;
  color: #393939;
  margin-right: 10px;
}

.iconS-open{
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
}
.container-fluid{
 
  padding-right: 50px !important;
    padding-left: 50px !important;
}
/* end new menu */

/* new header */
.headerH{
  padding-top: 30px;
}
.pName{
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 0rem;
}

.pSlogan{
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 0rem;
}

.proH {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  overflow: hidden; 
  border-radius: 50%; /* Make container circular */
  border: 1px solid #ccc; /* Optional border */
}

.circular-image {
  width: 100%; /* Ensure image fills container */
  height: 100%; /* Ensure image fills container */
  object-fit: cover; /* Preserve aspect ratio and cover entire container */
}

.weName1{
  padding-top: 5px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0rem;
}
.weName{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0rem;
}


.proTop {
  display:inline-block;
  margin-left: 20px;
  padding: 2px;
  width: 40px;
  height: 40px;
  overflow: hidden; 
  border-radius: 30%; /* Make container circular */
  border: 3px solid #dddddd; /* Optional border */
}

.circular-image-top {
  width: 100%; /* Ensure image fills container */
  height: 100%; /* Ensure image fills container */
  object-fit: cover; /* Preserve aspect ratio and cover entire container */
}

.fll{
  float: right;
}

.iconS2{
  font-size: 25px;
  color: #393939;
}
.mr{
  margin-right: 20px;
}

.we1{
  padding-top: 60px;
  margin-left: 100px;
    margin-bottom: 0rem;
    font-size: 20px;
    font-weight: 900;
}

.we2{
  margin-bottom: 0rem;
  font-size: 14px;
  margin-left: 100px;
}
/* dashboard */

.centerD{
  margin-top: 20px;
  background-color: #7a9cff;
  padding:30px 20px;
  border-radius: 10px;
}

.centerD2{
  margin-top: 20px;
  background-color: #e7bb00;
  padding:30px 20px;
  border-radius: 10px;
}
.pna{
  color: #fff;
  font-weight: 600;
}
.pna2{
  color: #ececec;
  font-size: 13px;
  margin-bottom: 4px;
}

.proTeam {
  display:inline-block;
  margin-left: 5px;
  width: 25px;
  height: 25px;
  overflow: hidden; 
  border-radius: 30%; /* Make container circular */
  border: 3px solid #ececec; /* Optional border */
}
.ra{
  margin-top: 30px;
    font-weight: 700;
}

.actH{
  background-color: #fff;
  padding:5px 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 17px 0 rgb(227 232 246);
  margin-bottom: 20px;
}

.proTeamI {
  display:inline-block;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  overflow: hidden; 
  border-radius: 30%; /* Make container circular */
}

.rp1{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.rp2{
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 5px;
}

.calH{
  background-color: #dfdfdf;
  padding:10px 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.calH2{
  background-color: #ffeea4;
  padding:10px 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
.dat{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

.dat2{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.datImage{
  width: 40%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.progTeam{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 0px 1px 17px 0 rgb(227 232 246);
}
.teamP{
  margin-bottom: 0rem;
}

.teamP2{
  margin-bottom: 0rem;
  font-size: 10px;
}
.spacer{
  margin-top: 20px;
}
.progressB{
  background-color: 'lightblue'
}
.bloob{
  width: 90%;
}
.createP{
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1b45bf;
    border-radius: 25px;
}

.crea1{
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  color: #fff;
  margin-bottom: 0rem;
}

/* login */

.wholeP{
  border-radius: 25px;
  width: 100%;
  background-color: #fff;
  margin-top:50px;
  margin-bottom:50px;
}

.halfWhH{
  width: 50%;
  border-radius: 25px;
 padding: 70px 90px;
}
.halfWh{
  padding: 150px 30px;
  margin: 50px 70px;
  border-radius: 25px;
  background-color: #1b45bf;
  height: 68vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/bg2.jpg");
}

.halfWhH2{
  width: 50%;
  border-radius: 25px;
}

.blurry{
  background-color: rgba(255, 255, 255, 0.3); /* Transparent white background */
  border-radius: 25px; /* Border radius */
  padding: 10px 20px; /* Add padding for content */
  backdrop-filter: blur(10px); /* Apply blur effect */
  width: fit-content; /* Adjust width as needed */
  margin: 20px auto; /* Center div horizontally */
  color: #fff;
  font-weight: 700;
  box-shadow: 1px 0px 4px 0px rgb(76 106 190);
  font-size: 20px;
}
.loginH{
  padding: 40px 90px;
}
.lgT{
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 9px;
}

.lgT2{
  font-size: 14px;
  color: #b8b8b8;
}

.inputs-container {
  display: flex;
  flex-direction: column;
}

.lab {
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 700;
}

.custom-input {
  padding: 10px;
  border: 1px solid #bdbdbd; /* Default border */
  border-radius: 25px;
  transition: border-radius 0.3s ease; /* Smooth transition */
  margin-bottom: 10px;
}

.custom-input:focus {
  outline: none;
  border: 1px solid #1b45bf;
  border-radius: 25px; /* Change border radius when focused */
}

/* .password-input-container {
  
} */

.password-toggle {
  cursor: pointer;
}


.loginBtn{
    background-color: #1b45bf !important;
    border: 0px !important;
    color: #fff !important;
    font-weight: 500 !important;
    padding: 10px 30px !important;
    border-radius: 20px !important;
    font-size: 17px!important;
    margin-top: 30px;
    width: 100%;
    transition: 0.5s ease-in; 
}

.loginBtn:hover{
  font-size: 19px!important;
  transition: 0.5s ease-in; 
}
.loginBtn2{
  background-color: #fff !important;
  border: 0px !important;
  color: #1b45bf !important;
  font-weight: 500 !important;
  padding: 10px 30px !important;
  border-radius: 20px !important;
  font-size: 17px!important;
  margin-top: 20px;
  border: 1px solid #1b45bf !important;
  width: 100%;
}

.loginBtn2:hover{
  font-size: 19px!important;
  transition: 0.5s ease-in; 
  border: 3px solid #1b45bf !important;
}

.loadP{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.loadPt{
  padding-top: 20px;
  font-size: 15px;
  font-weight: 200;
}

.modalOv{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 84%);
  z-index: 1000;
}

.modalSt{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px 20px;
  width: 40%;
  z-index: 1000;
  border-radius: 15px;
}

.closeM{
  cursor: pointer;
  float: inline-end;
}
.input-containerC {
  position: relative;
  margin-bottom: 20px; /* Adjust margin as needed */
}

.creT {
  text-align: center;
  font-size: 14px; /* Adjust font size as needed */
}

.bottom-border-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc; /* Bottom border */
  outline: none;
  font-size: 14px;
}

/* Optional: Add focus styles */
.bottom-border-input:focus {
  border-bottom-color: #1b45bf; /* Adjust color as needed */
}

/* .iconSB{
    border-radius: 40%;
    font-size: 24px;
    color: #ffffff;
    border: 1px solid #1b45bf;
    padding: 5px 8px;
    background: #1b45bf;
    cursor: pointer;
    float: left;
} */


.iconSB{
    font-size: 24px;
    color: #1b45bf;
    cursor: pointer;
    float: right;
} 
.iconh{
  margin-bottom: 25px;
}

