@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Manrope';
}

h1{
  @apply text-[45px]
}

h2{
  @apply text-[40px]
}

h3{
  @apply text-[36px]
}

h4{
  @apply text-[32px]
}

h5{
  @apply text-[28px]
}

h6{
  @apply text-[22px]
}

a{
  text-decoration: none;
}