@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Manrope';
}

h1{
  @apply text-[45px]
}

h2{
  @apply text-[40px]
}

h3{
  @apply text-[36px]
}

h4{
  @apply text-[32px]
}

h5{
  @apply text-[28px]
}

h6{
  @apply text-[22px]
}

a{
  @apply
  no-underline
}


.otp-input-container {
  display: flex;
  justify-content: space-between;
}

.otp-input {
  width: 67px;
  height: 67px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;

  @apply
  text-[32px]
  font-semibold
}

.otp-input:focus {
  outline: none;
  border-color: #aaa;
  box-shadow: 0 0 5px #aaa;
}